<!-- View used to view session states -->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IncrementCount</title>
</head>
<body>
    <div> 
        <p>Session Count: @Session["MyCount"]</p>
    </div>
</body>
</html>
